/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Begin project css */

* {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.title {
  margin-left: -20rem;
}

.card {
  width: 320px;
  height: 320px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 40px 50px #00000020;
  padding: 20px;
}

.viewport {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 70vh;
  max-height: 625px;
/*  border: 1px solid cyan;*/
  position: relative;
}

.button {
  position: relative;
  width: 64px;
  height: 64px;
/*  border: 1px solid cyan;*/
  cursor: pointer;
}

.btn-bg {
  position: absolute;
  pointer-events: none;
}

.btn-icon {
  transition: 0.2s;
  position: absolute;
  left: 6px;
  top: 6px;
  pointer-events: none;
}

.btn-icon.over {
  transition: 0.2s;
  left: 0px;
  top: 0px;
  transform: scale(1.1);
}

.download {
  transition: 0.1s;
  
  position: absolute;
  left: 150px;
  top: 25px;
/*  border: 1px solid cyan;*/
  cursor: pointer;
}

.download:hover {
  transition: 0.1s;
  top: 22px;
}

#download_link {
  display: none;
}

.kettlr {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 0rem;
}

.kettlr img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 3px;
}

a {
  
  font-family: sans-serif;
  color: #69A4E6;
  text-decoration: none; /* no underline */
  
}

.kettlr a {
  padding-left: 0.5rem
}

canvas {
  border-radius: 10px;
}

.bg-img {
  position: absolute;
}